.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px
}

h1 {
    font-size: 15px!important;
}

.errmsg {
    padding: 7px 0 7px 0;
    color: #dd4b39;
    text-align: center
}

.loadingContainer {
    text-align: center;
    display: none;
    padding-top: 10px
}

#demo {
    height: 0;
    z-index: 99999;
    transition: 1s;
    overflow: hidden;
    float: right;
    width: 0;
    bottom: 100px;
    right: 100px;
    opacity: 0;
    border: 1px solid silver;
    background: #fff;
    position: absolute;
    margin: 400px 200px 0 0
}

#demo li {
    margin-top: 0
}

#main:target #demo {
    height: 430px;
    padding: 10px;
    width: 320px;
    opacity: 1;
    margin: 180px 30px 0 0
}

#demo a {
    display: none
}

#main:target #demo a {
    display: block
}

.hideDemo {
    display: none
}

#main:target .showDemo {
    display: none
}

#main:target .hideDemo {
    display: block
}

@media (max-width: 500px),(max-height: 620px) {
    #main:target #demo {
        height: 300px
    }
}

.lang-select {
    padding: 4px 5px;
    margin: 9px 0 3px auto;
    font-size: 15px
}

.body_main_db {
    background: #fff url("../images/main_fone.png") !important;
    background-repeat: repeat-x !important;
    background-attachment: fixed !important;
    background-position-y: 230px
}

.body_test_db {
    background: #fff url("../images/main_fone_blue.png") !important;
    background-repeat: repeat-x !important;
    background-attachment: fixed !important;
    background-position-y: 230px
}

.test_db_label {
    display: none;
    color: red;
    font-size: 16px;
    width: 100%;
    text-align: center
}

.body_test_db .test_db_label {
    display: block
}

.body_main_db .for-test {
    display: none
}

.body_test_db .for-test {
    display: block
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.webix_message_area {
    display:none;
}

.webix_info.webix_error {
    display:none;
}

.wtShadow {
    border: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2 )
}

input.wtShadow {
    background-color: hsl(220, 12%, 95%)
}